html
    head
        title Olivier Tran
        link(rel="stylesheet", href="/css/styles.css")
    body
        h1 Hello Bienvenue
        for article in articles
            h3 #{article.title}
            p #{article.text}

        div(class="container")
            form(method="post", action="/api/post")
                input(type="text", name="title", placeholder="Titre")
                input(type="text", name="text", placeholder="Commentaire")

                button(type="submit") Post

