html
    head
        title Olivier Tran
        link(rel="stylesheet", href="/css/styles.css")
    body
        p hello fyyy

        // for post in post
        //     article
        //         h1 #{post.title}
        //         form(method="post", action="/api/post/" + post.id + "/upvote")
        //             button(type="submit") upvote
        //         form(method="post", action="/api/post/" + post.id + "/downvote")
        //             button(type="submit") downvote